
/***Global***/
*{}
body{}
.nm-section{}

/***Margin***/
.nm-m-s-5{
	margin-left: 5% !important;
	margin-right: 5% !important;
}

.nm-m-s-5p{
	margin-left: 5px !important;
	margin-right: 5px !important;
}

/***Padding***/
.nm-p-s-5{
	padding-left: 5% !important;
	padding-right: 5% !important;
}

.nm-p-s-5p{
	padding-left: 5px !important;
	padding-right: 5px !important;
}

.nm-p-a-5p{
	padding: 5px !important;
}

.nm-p-a-5p{
	padding: 10px !important;
}