/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 780px) {
	.nm-banner{
	  height: 84vh;
	}
	.header-logo {
		margin: 3%;
		width: 20%;
		left: 36%;
	}
	.nm-logo {
		margin-left: 20px;
	}
	.nm-logo-display{
		display: block;
	}
	.nm-nav-brand{
		display: none;
	}
	.navbar-toggler{
		position: relative;
		top: 10px;
	}
	.nm-events-count h1 {
		font-size: 2rem;
	}
	
	.nm-nav-item li a:hover{
		transform: none;
	}
	.nm-about-vid iframe {
		height: 350px;
		width: 90%;
	}
	.nm-about-details {
		margin-top: 5%;
	}
	.nm-events-block {
		padding-bottom: 24px;
		height: 99%;
		margin-bottom: 20px;
	}
	.hovereffect{
		height: 30%;
	}
	.nm-tk-details {
		padding: 10px 0px;
	}
	.nm-events-block .nm-btn{
		padding: 0px;
	}
	.nm-h-35-m{
		height: 35%;
	}
	.nm-accordion {
		padding: 0px;
	}
	.nm-mailchimp {
		width: 100%;
	}
	footer .nm-nav-item {
		width: 100%;
		margin: 0px auto;
		margin-top: 5%;
		text-align: center;
		position: relative;
		display: block;
	}
	footer .nm-nav-item li {
		padding: 0px;
		margin: 0px 10px;
		display: inline-block;
	}
	.nm-copy-text {
		margin-top: 1%;
	}
	footer .nm-header-icon {
		margin: 20px auto;
	}
	.nm-back-2-top {
		margin-top: 5%;
	}
		
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}


















